<a class="nav-menu-option" href="{% url 'employee:orders' %}">Заказы</a>
<a class="nav-menu-option" href="{% url 'employee:clients' %}">Клиенты</a>
<a class="nav-menu-option" href="{% url 'employee:vendors' %}">Поставщики</a>
<a class="nav-menu-option" href="{% url 'employee:materials' %}">Материалы</a>
<a class="nav-menu-option" href="{% url 'employee:supplies' %}">Поставки</a>
<a class="nav-menu-option" href="{% url 'employee:employees' %}">Сотрудники</a>
<a class="nav-menu-option" href="{% url 'employee:machines' %}">Станки</a>
<a class="nav-menu-option" href="{% url 'employee:schedule' %}">График занятости</a>
<a class="nav-menu-option" href="{% url 'employee:users' %}">Пользователи</a>
