{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<header class="nav-bar">
    <a href="{% url 'main:home_page' %}" class="factory-logo-pointer">
        <img src="{% static 'clients_interface/Files/factory_logo_1.png' %}" class="factory-logo-pointer-image">
    </a>
    <div class="nav-empty-space"></div>
</header>
<section class="content">
    <p class="profile-title"><b>Данные о клиенте:</b></p>
    <div class="profile-info-container">
        <div class="profile-titles-container">
            <p class="profile-text">Имя пользователя:</p>
            <p class="profile-text">Адрес электронной почты:</p>
            <p class="profile-text">ФИО:</p>
            <p class="profile-text">Номер телефона:</p>
        </div>
        <div class="profile-values-container">
            <p class="profile-text">{{ user.username }}</p>
            <p class="profile-text">{{ user.client_info.email }}</p>
            <p class="profile-text">{{ user.client_info.full_name }}</p>
            <p class="profile-text">{{ user.client_info.phone_number }}</p>
        </div>
    </div>
    <a href="{% url 'main:edit_profile' %}" class="profile-button edit-button button">Редактировать</a>
    <a href="{% url 'log_reg:logout' %}" class="profile-button logout-button">Выйти</a>
    <p class="profile-title order-history-title"><b>История заказов:</b></p>
    <div class="search-section">
        <form method="post" id="search-form">
            {% csrf_token %}
            <div class="overall-table-info search-input">Поиск по {{form.search_column}}:</div> 
            {{form.common_text}}
            {{form.interval_start}}
            {{form.interval_end}}
            <button type="submit" class="search-confirm-button">Искать</button>
            <a href="{% url 'main:reset_profile' %}" class="reset-search-button">Сбросить</a>
        </form>
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    <p id="form-error">{{ field.errors.0 }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if user_orders %}
        <div class="overall-table-info">Всего {{ user_orders.count }} заказа(-ов/ ) на общую сумму {{total_spendings}} рублей.</div>
        <table id="orders_table">
            <tr>
                {% for column_title in table_column_titles %}
                    {% with model_field_titles|dict:column_title as model_field_title %}
                        {% if forloop.counter == 1 %}
                            <th class="first-cell"><a class="column-sort-link" href="{% url 'main:sort_by' model_field_title sort_direction %}{{current_params}}">{{column_title}}</a></th>
                        {% else %}
                            <th><a class="column-sort-link" href="{% url 'main:sort_by' model_field_title sort_direction %}{{current_params}}">{{column_title}}</a></th>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </tr>
            {% for order in user_orders %}
                <tr>
                    {% for field in order.profile_order_list %}
                        {% if forloop.counter == 1 %}
                            <td class="first-cell">{% include 'components/table-cell.html' %}</td>
                        {% else %}
                            <td>{% include 'components/table-cell.html' %}</td>
                        {% endif %}
                    {% endfor%}
                    <td>
                        {% if order.files %}
                            <a href="{{order.files.url}}" download>{{order.filename}}</a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor%}
        </table>
    {% else %}
    <p>{{empty_table_phrase}}</p>
    {% endif %}    
</section>
<footer>
    <div class="footer-text">© Все права защищены</div>
    <div class="footer-text">Адрес: 111033, Москва, ул. Волочаевская, д. 5, корпус 1.</div>
</footer>
{% endblock %}