{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
{% include 'components/clients-part-header.html' %}
<div id="profile-menu">
    <div id="profile-menu-option">Профиль</div>
    <div id="profile-menu-option">Выйти</div>
</div>
<section class="introduction">
    <img src="{% static 'clients_interface/Files/main_page_back.png' %}" class="background-img">
    <div>
        <h1>Металлообрабатывающий завод №1</h1>
    </div>
</section>
<section class="content">
    <p class="common-paragraph">Добро пожаловать на сайт нашего металлообрабатывающего завода – предприятия, которое сочетает в себе передовые технологии,
        профессионализм сотрудников и высокое качество продукции. Мы гордимся нашими достижениями в отрасли и предлагаем нашим клиентам надежные решения для
        самых разнообразных задач металлообработки.</p>
    <p class="common-paragraph">Наши преимущества:</p>
    <ul>
        <li><p><b>Современное оборудование</b> – мы оснащены передовыми станками и автоматизированными системами, что позволяет обеспечивать высокую точность и производительность даже при сложных операциях.</p></li>
        <li><p><b>Высококвалифицированные специалисты</b> – наша команда состоит из опытных инженеров и мастеров, прошедших строгий отбор и имеющих многолетний опыт в металлообработке.</p></li>
        <li><p><b>Контроль качества</b> – на каждом этапе производства осуществляется строгий контроль, что гарантирует надежность и долговечность продукции.</p></li>
        <li><p><b>Индивидуальный подход</b> – мы внимательно относимся к требованиям наших клиентов и готовы предложить оптимальные решения под любые задачи.</p></li>
        <li><p><b>Соблюдение сроков</b> – благодаря эффективной организации производственного процесса мы всегда выполняем заказы в оговоренные сроки.</p></li>
    </ul>
    <p class="common-paragraph">С использованием производственных мощностей мы способны выполнить следующие задачи:</p>
    <ul>
        <li><p>Токарная и фрезерная обработка различных видов металлов.</p></li>
        <li><p>Лазерная и плазменная резка металла.</p></li>
        <li><p>Гибка и сварка металлических конструкций.</p></li>
        <li><p>Производство и сборка деталей любой сложности.</p></li>
        <li><p>Изготовление металлоконструкций по индивидуальным чертежам.</p></li>
        <li><p>Покрытие и обработка поверхностей (окраска, полировка и т.д.).</p></li>
        <li><p>Изготовление промышленных деталей и компонентов для различных отраслей.</p></li>
        <li><p>Зачистка и удаление коррозии с металлических поверхностей.</p></li>
        <li><p>Пайка мелких и средних деталей, требующих точности и аккуратности.</p></li>
        <li><p>Проектирование и производство деталей.</p></li>
    </ul>
    <p id="connect-section-title"><b>Связаться с нами:</b></p>
    <div id="connect-with-us-section">
        <div>
            <p class="connect-section-text"><b>График работы:</b></p>
            <p class="connect-section-text">ПН-ВТ c 7:30 до 17:00</p>
            <p class="connect-section-text" id="connect-section-text-last-line">СБ-ВС выходные</p>
            <p class="connect-section-text"><b>Наша почта:</b></p>
            <p class="connect-section-text" id="connect-section-text-last-line">factory@moz1.ru</p>
            <p class="connect-section-text"><b>Телефон:</b></p>
            <p class="connect-section-text">+7-999-999-99-99</p>
        </div>
        <div class = "order-form">
        {% include 'components/order-form.html' %}
        </div>
    </div>
</section>
<footer>
    <div class="footer-text">© Все права защищены</div>
    <div class="footer-text">Адрес: 111033, Москва, ул. Волочаевская, д. 5, корпус 1.</div>
</footer>
{% endblock %}