{% extends 'layouts/employee-base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<header class="nav-bar">
    <div class="empty-space"></div>
    <div class="title-container"><h1>{{title}}</h1></div>
    <div class="empty-space"></div>
    <img src="{% static 'employee_interface/Files/menu-icon.png' %}" id="nav-bar-menu-image">
</header>
<section class="content">
    {% include 'components/hidden-nav-menu.html' %}
    <div class="expanded_table_container">
        <div class="search-section">
            <div class = "search-add-line">
                <form method="post" id="search-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="overall-table-info search-input">Поиск {{search_form.search_column}}:</div> 
                    {{search_form.common_text}}
                    {{search_form.interval_start}}
                    {{search_form.interval_end}}
                    <button type="submit" class="search-confirm-button">Искать</button>
                    <a href="{% url 'employee:reset_table' %}{{request_params}}" class="table-button button">Сбросить</a>
                </form>
                <div class="empty-space"></div>
                {% if title == "Журнал поставок"%}
                    <a class="table-button monthly-spendings-button button" href="{% url 'employee:monthly_spendings' %}{{request_params}}">Посмотреть расходы</a>
                {% endif %}
                {% if not title == "Каталог клиентов" and is_allowed_to_modify %}
                    <a class="table-button button" href="{% url 'employee:create_item' model_name %}{{request_params}}">Создать</a>
                {% endif %}
            </div>  
            {% if search_form.errors %}
                {% for field in search_form %}
                    {% if field.errors %}
                        <p id="form-error">{{ field.errors.0 }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if model %}
            <table id="table">
                <thead>
                    <tr>
                        {% for column_title in table_column_titles %}
                            {% with model_field_titles|dict:column_title as model_field_title %}
                                {% if forloop.counter == 1 %}
                                    <th class="first-cell"><a class="column-sort-link" href="{% url 'employee:sort_by' model_name model_field_title sort_direction %}{{request_params}}">{{column_title}}</a></th>
                                {% else %}
                                    <th><a class="column-sort-link" href="{% url 'employee:sort_by' model_name model_field_title sort_direction %}{{request_params}}">{{column_title}}</a></th>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <th class="last-cell"></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for item in model %}
                        <tr id="table-row-{{forloop.counter}}">
                            {% for field in item.fields_values %}
                                {% if forloop.counter == 1 %}
                                    <td class="first-cell">{% include 'components/table-cell.html' %}</td>
                                {% elif forloop.last %} 
                                    <td class="pre-last-cell">
                                        {% if title == "Журнал заказов" %}
                                            {% if field %}
                                                <a href="{{field.url}}" download>{{item.filename}}</a> 
                                            {% endif %}
                                        {% else %}
                                            {% include 'components/table-cell.html' %}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>{% include 'components/table-cell.html' %}</td>
                                {% endif %}
                            {% endfor%}
                            <td class="last-cell {{model_name}}-last-cell">
                                {% if is_allowed_to_modify %}
                                    <div id="row-buttons-{{forloop.counter}}" class="row-buttons-container">
                                        {% if model_name == "Order" and is_Manager %}
                                            <a class="small-button" href="{% url 'employee:order_info' item.id forloop.counter %}{{request_params}}">
                                                <img src="{% static 'employee_interface/Files/info-icon.png' %}">
                                            </a>
                                        {% endif %}
                                        {% if not model_name == "Order" or not item.status == "Выполнен" %}
                                            <a class="small-button" href="{% url 'employee:edit_item' model_name item.id forloop.counter %}{{request_params}}">
                                                <img src="{% static 'employee_interface/Files/edit-icon.png' %}">
                                            </a>
                                        {% endif %}
                                        <a class="small-button" href="{% url 'employee:delete_item' model_name item.id forloop.counter %}{{request_params}}">
                                            <img src="{% static 'employee_interface/Files/remove-icon.png' %}">
                                        </a>
                                    </div>
                                {% elif model_name == "Order" and is_Chief %}
                                    <div id="row-buttons-{{forloop.counter}}" class="row-buttons-container">
                                        {% if item.status == "В работе" %}
                                            <a class="small-button" href="{% url 'employee:confirm_order' item.id forloop.counter %}{{request_params}}">
                                                <img src="{% static 'employee_interface/Files/confirm-icon.png' %}">
                                            </a>
                                        {% elif item.status == "Выполнен" %}
                                            <a class="small-button" href="{% url 'employee:cancel_order_confirm' item.id forloop.counter %}{{request_params}}">
                                                <img src="{% static 'employee_interface/Files/undo-icon.png' %}">
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% else %}
        <p>{{empty_table_phrase}}</p>
        {% endif %}
    </div>    
</section>
{% endblock %}