{% extends 'layouts/employee-base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<header class="nav-bar">
    <div class="empty-space"></div>
</header>
<section class="creation-form-container">
    <p class="item-title"><b>Данные {{object_type}}:</b></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="item-info-container">
            {% for field in form %}
                <div class="item-data-row">
                    <p class="item-text">{{field.label}}:</p>
                    <div class="item-form-field">{{field}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="form-buttons">
            <button type="submit" class="send-info-btn">Сохранить</button>
            <a class="cancel-button button" href="{{previous_url}}">Отменить</a>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    <p id="form-error">{{ field.errors.0 }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
</section>
{% endblock %}