:root{
    --common-text-hight: 20px;
    ---min-header-height: 100px;
    --min-footer-height: 100px;
}

@media (max-width: 2000px){
    :root{
        --content-side-margin: 9%
    }
}

@media (max-width: 1700px){
    :root{
        --content-side-margin: 3%
    }
}

html{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    background: #e5e5e5;
}

.nav-bar{
    height: 90px;
    margin: 0px;
    padding-right: 15px;
    background-color: #287fd6;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    align-items: center;
}

#nav-bar-menu-image{
    height: 42%;
    user-select: none;
    cursor: pointer;
}

#hidden-nav-menu {
    transition: 0.2s;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 90px;
    right: 0px;
    min-height: 180px;
    width: 0px;
    background: #FFFFFF;
    z-index: 10;
    box-shadow: -1px 1px 7px rgb(0 0 0 / 40%);
    border-bottom-left-radius: 10px;
}

.nav-menu-option {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: black;
    border: solid 1px #6f6d6d;
    margin: 0px;
    border-top: 0px;
    font-size: 19px;
    cursor: pointer;
    user-select: none;
}

.nav-menu-option:hover {
    background-color: #e0e0e0;
    color: black;
}

.last-option{
    border-bottom-left-radius: 10px;
}

.title-container{
    display: flex;
    align-items: center;
}

.empty-space{
    flex-grow: 1;
}

.content{
    display: flex;
    justify-content: center;
    margin: 0px var(--content-side-margin);
    padding: 0px 0px 0px 0px;
}

.content p{
    font-size: var(--common-text-hight);
    text-align: justify;
    line-height: 40px;
}

#form-error {
    font-size: 17px;
    color: red;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    margin-top: 10px;
}

.search-section{
    margin: 5px 0px 20px 0px;
}

a{
    text-decoration: none;
    color:blue;
}

a:hover{
    color:red;
}

.overall-table-info{
    margin-top: 20px;
    font-size: var(--common-text-hight);
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #fefefe;
    border:1px solid #d3d3d3;
    border-radius: 5px;
    border-spacing: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {
    padding:18px 28px 18px; 
    text-align:center; 
    max-width: 350px;
    word-wrap:break-word;
}

@media (max-width: 2000px){
    th, td {
        max-width: 350px;

    }
}

@media (max-width: 1700px){
    th, td {
        max-width: 300px;
    }
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
    background: #ededed;
    font-size: 20px;
    cursor: pointer;
    font-family: sans-serif;
}

td {border-top:1px solid #d8d8d8; 
    border-right:1px solid #d8d8d8;
    background: #fefefe;
    font-size: 17px;
    height: 31px;
}

.short-text-field{
    border:1px solid black;
    border-radius:5px;
    height: 25px;
    width: 220px;
    margin: 3.5px 0px 7.5px 0px
}

.expanded_table_container{
    min-width: 80%;
}

.content .last-line{
    margin-bottom: 0px;
}

.first-line{
    margin-top: 0px;
}

.column-sort-link{
    color: black;
}

.column-sort-link:hover{
    color: black;
}

.search-add-line{
    display: flex;
}

.search-input{
    display: inline-block;
}

#text-input{
    display: inline-block;
}

#interval-end-input, #interval-start-input{
    display: none;
}

.search-input-field{
    height: 19.5px;
    min-width: 171px;
}

.search-input-selector{
    height: 24px;
}

.search-confirm-button {
    height: 25px;
    width: 65px;
    margin-left: 6px;
    border: solid 1px #6f6d6d;
    border-radius: 2px;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #e0e0e0;
}

.button{
    display: flex;
    color: black;
    border: solid 1px #6f6d6d;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    user-select: none;
    cursor: pointer;
}

.table-button{
    display: inline-flex;
    border-radius: 2px;
    height: 23px;
    align-self: end;
    width: 75px;
    margin-left: 7px;
}

.button:hover{
    background-color: #e0e0e0;
    color: black;
}

.row-buttons-container{
    display: none;
}

.small-button img{
    height: 100%;
}

td .small-button {
    height: 26px;
    display: inline-block;
    margin-left: 7px;
    user-select: none;
    cursor: pointer;
}

td .small-button:hover{
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px;
}

.last-cell{
    padding-left: 5px;
    padding-right: 10px;
    width: 94px;
}

.pre-last-cell{
    border-right: hidden;
}

#remove-button:hover{
    border-radius: 15px;
}
.creation-form-container{
    margin: 0px 27%;
    display: flex;
    flex-direction: column;
}

.item-data-row{
    display: flex;
    margin-top: 25px;
}

.item-title{
    font-size: 35px;
    margin-bottom: 10px;
}

.item-text{
    min-width: 325px;
    align-self: start;
    margin-top: 0px;
    font-size: 25px;
}

.item-form-field{
    margin-top: 4px;
    align-self: start;
}

.form-buttons{
    display: flex;
    margin-top: 10px;
}

.common-field {
    height: 30px;
    width: 225px;
    border-radius: 7px;
}

.input-field{
    border: solid 1px #6f6d6d
}

.select-field{
    height: 30px;
    width: 233px;
}

.send-info-btn {
    height: 40px;
    min-width: 100px;
    border-radius: 10px;
    border: solid 1px #6f6d6d;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

.cancel-button {
    display: flex;
    width: 100px;
    border-radius: 10px;
    border: solid 1px #6f6d6d;
    margin-left: 30px;
}

footer{
    min-height: 10%;
    padding: 10px 0px 10px 0px;
    bottom: 0px;
    background-color: #287fd6;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.footer-text{
    justify-self: center;
    align-content: center;
    color: black;
    font-size: 20px;
    flex-grow: 1;
}

